html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, helvetica, sans;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    position: relative;
    /* padding-top: 60px; */
    flex: 1;
}


/* Ensure display:flex and others don't override a [hidden] */

[hidden] {
    display: none !important;
}

header,
.container,
footer {
    padding: 10px;
    width: 100%;
    height: 85vh;
}
.container{
    padding:0;
}
header,
footer {
    background-color: #5561bf;
    color: #fff;
    text-align: center;
    height: 6vh;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
    margin-bottom: 1em;
}

app-navegacion {
    display: flex;
    justify-content: center;

}

app-navegacion a {
    text-transform: uppercase;
    padding: 0.84em;
    text-decoration: none;
    background: #caceec;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}

app-navegacion a:visited,
app-navegacion a:active,
app-navegacion a:link,
app-navegacion a:hover {
    color: #fff;
}

footer {
    margin-top: 15px;
}
b{
    font-weight:bold;
}
mapa {
    display: flex;
    flex-direction: column;
}
mapa select{
    padding: 0.2em;
    padding-left: 2em;
    /* background: -webkit-linear-gradient(white, #666); */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #5460bf;
    height: 2.7em;
    /* text-shadow: 0 0 4px rgba(0, 0, 0, 0.8); */
    -webkit-appearance: none;
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABSUlEQVRYhe2OwUoCURSGv3NNeoBWPUNPkRDRKlxkBEWU0UIIotmK3QxbhS2ijEAQatEQRO3c+RY9QrtWrUL0tLgWJpozgxrUfLt7zrn/90NMTMx/Ryioh2H+V+xtGlMYKsACyuKE9XXeuBQA9nSaGXyU5YmohSdeWeVc3uVruKtJZrkFMmOW+7ywwbU03bObFU0wRxVlc0z6Gs/scC+tz4H5tnaLbeBq5GqhgpDtlrtxX1Q4pAzsj0h+hsUD0d6V6XcPohxxAJyMQF4aJHfrYVjNoxxHkit5ilL6uV8QCuohnIaSCx5WysPPgmI1h3IR6FbJUZRKkNPgBQAKuoWhig7810bIYqUWNDJcAVdiDcMNSqInqQWsY+UuTFz4Aq5EGoOPkuykNIEMVh7DRkUr4EosITx0UtJYqUfOiozVFFZTkxfHxMT8JT4Aa19VJuNHfQQAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: auto 50%;
}
agm-map[_ngcontent-c0] {
    height: 80vh !important;
}
.card + agm-map[_ngcontent-c0] {
    height: 64vh !important;
}
.card, .card div{
    padding:0.3em;

}
.card{
        height: 15vh;
        position:relative;
}
.card button{
    position:absolute;
    right:10px;
    top:10px;
    padding:0.2em 0.5em;
    background: #caceec;
    color:#fff;
    font-weight:bold;
}

.loading{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
}